@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.upload {
    border-top: 1px solid $mercury;

    &__container {
        margin: auto 2.5%;

        @include desktop {
            margin: auto 10%;
        }
    }

    &__title {
        @include mobile-header-text;
        margin: 2rem auto;

        @include tablet {
            @include td-header1-text;
            width: 100%;
            padding-bottom: 2.5rem;
            border-bottom: 1px solid $mercury;
        }

        @include desktop {
            border: none;
        }
    }
}