@use '../../../partials/mixins.scss' as *;

.video-list {
    width: 90%;
    margin-left: 5%;
    list-style: none;


    

    &__item {
        display: flex;
        margin-bottom: 1rem;
    }

    &__image {
        height: 4.5rem;
        width: 7.5rem;
        border-radius: .25rem;
        margin-right: 1rem;
    }

    &__info {
        width: 50%;

        @include tablet {
            width: 30%;
        }
    }
}