@use './SearchBar/SearchBar.scss' as *;
@use '../Button/Button.scss' as *;
@use '../../partials/mixins.scss' as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include desktop {
        margin: 1rem 10rem;
    }

    &__logo {
        height: 2rem;
        margin: .5rem;

        @include tablet {
            margin-right: 10.5rem;
        }
    }

    &__container {
        @include tablet {
            display: flex;
        }
    }

    &__submit {
        margin-top: .5rem;
        margin-left: 2.5%;
        display: flex;
        width: 95%;
    }

    &__button {
        @include button;

        &::before {
            content: url(../../assets/Icons/Icon-upload.svg);
        }
        @include tablet {
            margin: 0 1.5rem;
            width: 7rem;
            //background-position-x: 20%;
        }
    }
}





    