@use '../SearchBar/SearchBar.scss' as *;
@use '../Button/Button.scss' as *;
@use '../../partials/mixins.scss' as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    @include desktop {
        margin: 1rem 10%;
    }

    &__logo {
        height: 2rem;
        margin: .5rem;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            margin: auto 0;
        }
    }

    &__container {
        @include tablet {
            display: flex;
        }
    }

    &__submit {
        margin: .5rem 2.5%;
        display: flex;
        width: 95%;
    }

    &__button {
        @include button;
        @include mobile-body-text;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: url('http://localhost:8000/icons/Icon-upload.svg');
        }
        @include tablet {
            margin: 0 1.5rem;
            width: 10rem;
            height: 3.5rem;
        }
    }
}





    