// colors
$black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;

$instock-blue-dark: #002F5F;
$instock-blue: #004892;
$brainflix-blue: #0065ad;
$brainflix-light-blue: #0095ff;
